@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:link, a:visited, :active,a:hover{
    /* color: #fff; */
  }
}

html,body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

#root {
  padding: 24px;
}




@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}
